@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/PfTempestaSevenBold-wywx.ttf)format('truetype');
}

:root {
    --font-1: 'Roboto-Regular';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
}

body {
    min-height: 100vh;
    background-color: #121212;
}

header {
    display: flex;
    align-items: center;
    border: solid transparent;
    padding: 10px;
}

section {
    background-image: url(../imgs/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header h1 {
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 50px;
    color: #fff;
    font-size: 2em;
}
header img {
    width: 50px;
    height: 50px;
    margin: 0% 10% 0% 1%;
    transform: rotate(20deg);
}

header h3 {
    margin: 0 1% 0 1%;
    color: #fff;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-left: 25%;
}
ul li a {
    text-decoration: none;
}

.hour {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    height: 45px;
    border: solid 1.5px #fff;
    margin-left: 17%;
    box-shadow: 0 0 10px #fff;
    color: #fff;
}

.hour .relogio {
    position: absolute;
    top: -2px;
    left: -10px;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.hour .am-pm {
    margin-right: 10px;
    font-size: 0.8em;
}

.section-left-right {
    display: flex;
}

.section-left {
    position: relative;
    width: 50%;
}

.section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
}

.section-right img{
    margin-top: 10%;
    width: 60%;
}

.redes {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.rds-conteiner {
    position: relative;
    width: 100%;
    height: 180px;
    border: solid transparent;
    display: flex;
    justify-content: center;
}

.dot {
    z-index: 1;
    display: none;
    position: absolute;
    top: 70px;
    width: 20px;
    height: 20px;
    background: #021A20;
    transform: rotate(45deg);
    box-shadow: 0px 0px 10px #b319fb;
}

.dot-card {
    display: none;
    position: absolute;
    top: 80px;
    width: 200px;
    height: 90px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 10px #b319fb;
}

.dot-card-2 {
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    width: 200px;
    height: 90px;
    border-radius: 10px;
    background: #021A20;
}
.dot-card-2 p {
   font-size: 0.8em;
}

#Whats {
    color: rgb(0, 255, 102);
}

.active {
    display: flex;
}

.rds-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    background-color: #291d3d66;
    box-shadow: 0px 0px 10px #b319fb;
    transition: 0.3s ease-in-out;
}

.rds-icons a {
    text-decoration: none;
    color: #fff;
}

.rds-icons a ion-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.rds-icons:hover {
    transform: translateY(-5px);
}

.astronauta {
    animation: float 3s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translatey(0)
    }
    50%{
        transform:translatey(-20px)
    }
}

.card-profile {
    box-shadow: 0px 0px 10px #b319fb;
    margin: 5% 0 0 10%;
    width: 75%;
    height: 510px;
    border-radius: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #291d3d90;
}

.profile-card h1 {
    color: #fff;
    margin-bottom: 10%;
    font-size: 1em;
}

.profile-cicle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-image: url(../imgs/69Malvadão.jpg);
    background-size: cover;
    border: 2px solid #b319fb;
}

.profile {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0 2% 0;
}

.profile  {
    width: 100%;
    font-size: 1em;
    margin: 2%;
}

.card-contedudo {
    width: 100%;
    height: 80%;
    background: #021A20;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav {
    display: flex;
    width: 100%;
    height: 50px;
}

.nav .nav-left {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nav .nav-left img{
    width: 45px;
    height: 45px;
}

.nav .nav-right {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.nav .nav-right img{
    width: 45px;
    height: 45px;
}

.conteudo-1, .conteudo-2 {
    position: relative;
    display: none;
    color: #fff;
    height: 280px;
    
}

.conteudo-1 h2 {
    text-align: center;
    margin-top: 5px;
    font-size: 1em;
}

.artigo {
    position: relative;
    overflow-y: scroll;
    margin: 10px;
    font-size: 0.9em;
}

.artigo p {
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
    background: black;
}

::-webkit-scrollbar-thumb {
    position: absolute;
    border-radius: 10px;
    border: 2px solid black;
    background: #7004c9;
}

#html {
    color: rgb(255, 0, 72);
}

#css {
    color: rgb(98, 70, 255);
}

#javascript {
    color: rgb(249, 255, 70);
}

.opacity-on {
    display: flex;
    flex-direction: column;
}

.conteudo-1 p, .conteudo-2 p{
   padding: 10px 20px 0px 20px;
}

.background-on {
    background: #021A20;
}

.animateRotate {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(359deg);
	}
}

