@font-face {
  font-family: 'PfTempestaSevenBold';
  src: url(fonts/PfTempestaSevenBold-wywx.ttf)format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PfTempestaSevenBold';
}

body {
  background-image: url(./imgs/fundo-for-portfolio.jpg);
  background-size: cover;
  min-height: 300vh;
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
  background: black;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  background: #7004c9;
}