@font-face {
  font-family: 'PfTempestaSevenBold';
  src: url(fonts/PfTempestaSevenBold-wywx.ttf)format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PfTempestaSevenBold';
}

body {
  position: relative;
  background-image: url(./imgs/imagem-de-fundo.jpg);
  background-size: cover;
  min-height: 360vh;
  text-align: center;
  overflow-x: hidden;
}

.conteiner-left-and-right {
  position: absolute;
  display: flex;
  margin-top: 100px;
  width: 100%;
  height: 600px;
}

.conteiner-left {
  display: flex;
  justify-content: center;
  width: 50%;
}

.conteiner-right {
  width: 50%;
  margin-right: 2%;
}

::-webkit-scrollbar {
  width: 12px;
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid black;
  background: #7004c9;
}

.conteiner-center {
  margin-top: 700px;
  position: absolute;
  border: solid transparent;
  width: 100%;
  height: 100vh;
}

.conteiner-bottom {
  margin-top: 1343px;
  position: absolute;
  border: solid transparent;
  width: 100%;
  height: 100vh;
}

.footer {
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 70vh;
  background-color: #130725;
  border: solid red;
  bottom: -50px;
}