
.navAction-Conteudo {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navAction-Conteudo h1 {
    font-size: 1.2em;
}

.artigo {
    position: relative;
    height: 220px;
    margin: 10px;
    overflow-y: scroll;
    position: relative;
    font-size: 0.9em;
}

.artigo {
    padding: 7px;
} 

::-webkit-scrollbar {
    width: 12px;
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid black;
    background: #7004c9;
}

.artigo p {
    text-align: left;
    margin-top: 1%;
    font-size: 1em;
}

#html {
    color: rgb(255, 0, 72);
}

#css {
    color: rgb(98, 70, 255);
}

#javascript {
    color: rgb(249, 255, 70);
}

strong {
    display: inline-flex;
}
