.navAction {
    display: flex;
    width: 100%;
}

.navAction-left {
    width: 50%;
    cursor: pointer;
}

.navAction-right {
    width: 50%;
    background: transparent;
    cursor: pointer;
}

.imgCassete,
.imgHeart {
    width: 45px;
    height: 45px
}

.backgroundOn {
    background-color: #021A20;
}

.animateRotate {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(359deg);
	}
}